<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HamsterTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HamsterTools.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HamsterTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HamsterTools.Properties.Settings>
            <setting name="GameExeLocation" serializeAs="String">
                <value>C:\OHRRPGCE\game.exe</value>
            </setting>
            <setting name="CustomExeLocation" serializeAs="String">
                <value>C:\OHRRPGCE\custom.exe</value>
            </setting>
            <setting name="HspeakLocation" serializeAs="String">
                <value>C:\OHRRPGCE\hspeak.exe</value>
            </setting>
        </HamsterTools.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HamsterTools.Properties.Settings>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
        </HamsterTools.Properties.Settings>
    </applicationSettings>
</configuration>